.image {
    color: brown;
    border: black solid 1px;
    width: 90%;
    height: 80%;
    align-content: flex-end;
    
    margin: 10px;
}

h4 {
    background-color: #1976d2;
    color: white;
    margin: 1px;
}