
h1 {
    text-align: right;
    color: #2196f3;
}

h2 {
    color: white;
    margin: 0;
    background-color:  #1976d2;
}

h3 {
    text-align: left;
    padding-left: 18px;
    color: #2196f3;
    margin: 10px;
}

h4 {
    background-color: #1976d2;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

h5 {
    text-align: left;
    font-size: 15px;
    padding-left: 25px;
    margin: 5px;

}

.headerimage {
    margin: 10px;
    border: black solid 1px;
}

.image {
    width: 90vw;
    height: 25vh;
    align-content: center;  
}


.clock {
    text-align: center;
}

.time-display {
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
}

.date-display {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

body {
    text-align: center;
}

.email {
    box-sizing: border-box;
    height: 40px;
    width: 70%;
    padding: 10px;
}

.button {
    box-sizing: border-box;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border-radius: 8px;
}

.linkForgot {
    color: blue;
    font-size: 13px;
    text-align: right;
}

.linkRegister, .linkPrivacy, .linkLogIn {
    color: blue;
    font-size: 14px;
}


.forgotten {
    text-align: center;
}

.registrationtile {
    padding-top: 40px;
}

/* body {
    margin: 0 auto;
    max-width: 500px;
    padding: 0 20px;
} */
      
/* h2 {
    color:rgb(55, 55, 173);
    text-align: center;
}
  */
h3 {
    color:rgb(55, 55, 173);
  }
      
.container {
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

 }

 
.container::after {
    content: "";
    clear: both;
    display: table;
 }