
body{
  text-align: center;
}

h3{
  background-color: rgb(52, 52, 204);
  text-align: center;
  color:black;
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.rating
{
  color: rgb(52, 52, 204);
}

h4{
  background-color: rgb(52, 52, 204);
color:white
}

.mail
{
  gap: 3px;
}
  
.button
{
  background-color: rgb(52, 52, 204);
  color: white;
  
}
