body {
    text-align: center;
}

.email {
    box-sizing: border-box;
    height: 40px;
    width: 70%;
    padding: 10px;
}

.button {
    box-sizing: border-box;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border-radius: 8px;
}

.linkForgot {
    color: blue;
    font-size: 13px;
    text-align: right;
}

.linkRegister, .linkPrivacy, .linkLogIn {
    color: blue;
    font-size: 14px;
}


.forgotten {
    text-align: center;
}

h2 {
    color: white;
    margin: 0;
    background-color:  #1976d2;
}

.registrationtile {
    padding-top: 40px;
}