/* body {
    text-align: center;
}
  
h3 {
    background-color: rgb(52, 52, 204);
    text-align: center;
    color:white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table {
    width: 50%;
}

.rating {
    color: rgb(62, 62, 180);
}

h4 {
    background-color:rgb(62, 62, 180);
    color:white
}

.mail {
    gap: 3px;
}
    
.button {
    background-color: rgb(62, 62, 180);
    color: white;
    border:1px solid black;
} */